.zero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    overflow-y: visible;

    height: 100vh;
    width: 100%;
    background-color: #D9D9D9;
}


.teste {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    justify-content: start;

    height: 75%;
    width: 75%;
    background-color: white;
    border: 1px solid rgb(187, 187, 187);
    border-radius: 5px;

    

    overflow-y: visible;

    margin-left: 15%;
    margin-top: 2%;
    padding: 10px;
}

.coluna {
    display: flex;
    flex-direction: column;
    

    height: 100%;
    width: 100%;

}

.linha-dentro-coluna {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    padding-top: 10px;
    margin-bottom: 20px;
}



.quadrado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    height: 13vh;
    width: 18%;
    background-color: white;
    border: 1px solid lightslategray;
    border-radius: 10px;

    margin-left: 5%;

    font-weight: bold;
}

.quadrado p {
    color: gray;
}

.quadrado span {
    font-size: 2.1rem;
}

.quadrado-online {
    /* background-image: url('https://img.freepik.com/fotos-gratis/interior-pequeno-do-quarto-de-hotel-com-cama-de-casal-e-banheiro_1262-12489.jpg?w=740&t=st=1664562095~exp=1664562695~hmac=6a46512fd8440097c4e6a1c3d1349beb79a75f44b2dca90e4f40f84d8694f672'); */
    height: 20vh;
    width: 32%;
    background-color: #313337;
    border-radius: 10px;
    margin: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 4px solid blue;

    animation-name: off;
    animation-duration: 2s;
    animation-fill-mode: forwards;

    color: whitesmoke;
    font-size: 25px;
    font-weight: 700;
}

.quadrado-offline {
    /* background-image: url('https://img.freepik.com/fotos-gratis/interior-pequeno-do-quarto-de-hotel-com-cama-de-casal-e-banheiro_1262-12489.jpg?w=740&t=st=1664562095~exp=1664562695~hmac=6a46512fd8440097c4e6a1c3d1349beb79a75f44b2dca90e4f40f84d8694f672'); */
    height: 20vh;
    width: 32%;
    background-color: #313337;
    border-radius: 10px;
    margin: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 4px solid red;

    animation-name: on;
    animation-duration: 2s;
    animation-fill-mode: forwards;

    color: whitesmoke;
    font-size: 25px;
    font-weight: 700;
}

@keyframes on {
    from{border-color: red;}
    to{border-color: greenyellow;}
}

@keyframes off {
    from{border-color: greenyellow;}
    to{border-color: red;}
}



@keyframes popup {
    from {
        height: 40vh;
        width: 32%;
    }
    to {
        height: 90vh;
        width: 100%;
    }
}

.modal {
    text-align: center;
    font-size: 22px;
}


.modal-azul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    font-size: 24px;
    text-align: center;

    height: 12vh;
    width: 20%;
    background-color: lightblue;

    border: 1px solid black;
    border-radius: 5px;
}

.contain{
    width: 800px;
    height: 300px;
}

.moda1{
    
    position: relative;
    display: inline-block;
    cursor: pointer;
      
}