
.teste {
    display: flex;
    flex-direction: row;
    height: 100vh;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 20px;
    /* justify-content: center;
    align-items: center; */
    overflow-y: visible;
}

.quadrado {
    height: 40vh;
    width: 32%;
    background-color: white;
    border-radius: 10px;
    margin: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 3px solid black;
}

.quadrado-online {
    background-image: url('https://img.freepik.com/fotos-gratis/interior-pequeno-do-quarto-de-hotel-com-cama-de-casal-e-banheiro_1262-12489.jpg?w=740&t=st=1664562095~exp=1664562695~hmac=6a46512fd8440097c4e6a1c3d1349beb79a75f44b2dca90e4f40f84d8694f672');
    height: 40vh;
    width: 32%;
    background-color: white;
    border-radius: 10px;
    margin: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 12px solid green;

    animation-name: off;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.quadrado-offline {
    background-image: url('https://img.freepik.com/fotos-gratis/interior-pequeno-do-quarto-de-hotel-com-cama-de-casal-e-banheiro_1262-12489.jpg?w=740&t=st=1664562095~exp=1664562695~hmac=6a46512fd8440097c4e6a1c3d1349beb79a75f44b2dca90e4f40f84d8694f672');
    height: 40vh;
    width: 32%;
    background-color: white;
    border-radius: 10px;
    margin: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 12px solid red;

    animation-name: on;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes on {
    from{border-color: red;}
    to{border-color: greenyellow;}
}

@keyframes off {
    from{border-color: greenyellow;}
    to{border-color: red;}
}
