.container{
    height: 100vh;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center; 
    
    padding-bottom: 180px; /* Pra compensar o padding da logo*/
    
    min-width: 777px;
}

.child{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input[type=text], input[type=password]{
    width: 500px;
    height: 48px;
    margin-bottom: 20px;
    padding-top: 5px;

    background-color: #264ECA;
    border: 2px solid white;
    border-radius: 4px;

    font-size: 23px;
    font-weight: bold;

    padding-left: 50px;
    color: white;
    padding-bottom: 25px;
    padding-top: 25px;
}

input[type=text]:focus, input[type=password]:focus{
    outline: none;
}

::placeholder{
    font-size: 23px;
    font-weight: bold;

    color: white;

}

.icon-input{
    position: absolute;
    left: 0;
    top: 7px;
    margin-left: 4px;
}

.inputs{
    position: relative;
}

input[type=submit] {
    width: 500px;
    height: 48px;
    margin-top: 30px;

    font-size: 24px;    
    color: #264ECA;
    font-weight: bold;
    letter-spacing: 3px;

    border: 0;
    border-radius: 7px;
}

a {
    align-self: flex-end;
    text-decoration: none;
}
a p{
    color: white;
    font-size: 24px;
}