.principal1 {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: white;

    margin-bottom: 20px;
}

.principal1 div, Link {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;

    font-weight: 500;
    font-size: 16px;
    color: white;
    background-color: #313337;

    height: 56px;
    width: 100%;
    margin-right: 25px;
}

.principal1 div:hover {
    background-color: rgba(255, 255, 255, 0.151);
}

.svg {
    vertical-align: text-top;
}

.links {
    width: 100%;
}