.Sidebar {
    width: 200px;
    height: 100vh;
    background-color: black;
    animation-name: example2;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes example {
    from {width: 200px;}
    to {width: 100px;}
  }

@keyframes example2 {
    from {width: 100px;}
    to {width: 200px;}
  }

.Sidebar-mini {
    width: 200px;
    height: 100vh;
    background-color: red;
    animation-name: example;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.circulo {
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
    margin: 10px;
}