.Sidebar {
    width: 200px;
    height: 100vh;
    color: lightblue;
    background-color: #25262e;

    animation-name: example2;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes example {
    from {width: 200px;}
    to {width: 100px;}
  }

@keyframes example2 {
    from {width: 100px;}
    to {width: 200px;}
  }

.Sidebar-mini {
    width: 200px;
    height: 100vh;
    background-color: #25262e;
    animation-name: example;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}